@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color-white: #ebebeb;
    --color-darkblue: #375A7F;

    --font-roboto: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-roboto);
}

main{
    height: 100%;
    min-height: 88vh;
}

footer{
    width: 100%;
    background-color: black;
    color: var(--color-white);
    text-align: center;
    padding: 1.5em;
}

.link-nav-m{
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: color ease-in-out 250ms;
    display: block;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    transition: all ease-in-out 250ms;
}

.link-nav-m:hover{
    color: whitesmoke;
    background-color: rgba(255, 255, 255, 0.185);
}

.section-page{
    min-height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-page-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.title-user-port{
    color: var(--color-white);
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 3px 3px 4px var(--color-darkblue);
}

.title-section{
    color: var(--color-white);
    font-size: 37px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.title-section-info{
    color: var(--color-white);
    text-align: center;
    font-size: 18px;
    margin-bottom: 0px;
}

.subtitle-user-port{
    color: var(--color-white);
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    text-shadow: 3px 3px 4px var(--color-darkblue);
}

.top-navbar{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 10;
    border-bottom: 1px solid black
}

@media(min-height: 100px){
    .top-navbar{
        opacity: 0.5;
    }
}